<<<<<<< HEAD
body {
  text-align: center;
  background-image: url(pizza.jpg);
  background-repeat: no-repeat, repeat;
  background-size: 115%;
}

.tudo {
  background-color: black;
}
=======
body{
    background-color: rgb(236, 189, 131);
}
>>>>>>> a68eb002bd035542609ed0967277af1411f0096c
