                body  { 
                    background-color: rgb(236,189,131);

                    font-size: medium;
                     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                } 
            
            .a{
                    text-align: center;
              

             } 

        
              

