body {
    background-color: rgb(236,189,131);
}
#titulo {
    color: red;
    font-size: 33px;
    text-align: center;
    text-decoration: underline;
    background-color: rgb(233, 147, 18);
    width: 1400px;
    margin: -0.6%;
    padding: 18px;
    border-bottom: solid 3px red;
}

#sobre-titulo {
    color: red;
    text-align: center;
    font-size: 30px;
    ;
}

.sobre {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}
.imagem {

    width: 400px;
    height: 400px;
    bottom: 30px;
    background:url('pizzaa.jpg ');
}
.texto {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color:#fff;
    text-align: center;
    top: 100px;
    width: 250px;
    line-height: 30px;
    height: 30px;
}