body {
    background-color: rgb(250, 245, 239);
}
#titulo {
    color: rgb(255, 255, 255);
    font-size: 33px;
    text-align: center;
    background-color:rgb(21, 105, 59);
    width: 1400px;
    margin: -0.6%;
    padding: 28px;
    border-bottom: solid 3px rgb(43, 40, 40);
}

#sobre-titulo {
    color: red;
    text-align: center;
    font-size: 30px;
}

.sobre {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.texto {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color:#fff;
    text-align: center;
    top: 100px;
    width: 250px;
    line-height: 30px;
    height: 30px;
}